.editor-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  color: white;
}

/* Header */
.editor-header {
  height: 50px;
  background: #2d2d30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.title {
  font-weight: bold;
}

.run-btn {
  background: #0e639c;
  color: white;
  border: none;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 4px;
}

/* Editor */
.editor-container {
  flex: 1;
  min-height: 300px; /* Add this line */
}

.monaco-editor {
  height: 50%;
  background-color: red;
}

/* Output */
.output-container {
  height:100px;
  background: #111;
  border-top: 1px solid #333;
  padding: 10px;
  overflow: auto;
}

.output-container h4 {
  margin: 0 0 5px 0;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
}

