<div class="editor-page">

  <div class="editor-header">
    <span class="title">⚡ Online .NET Code Editor</span>
    <div class ="header-buttons">
      <button class="mode-btn" (click)="toggleMode()">{{ isDarkMode ? '🌙 Dark' : '☀️ Light' }}</button>
      <button class="run-btn" (click)="runCode()">▶ Run</button>
    </div>
  </div>

  <div class="editor-main">
    <div class="file-tabs">
      <div
        *ngFor="let file of files; let i = index"
        class="file-tab"
        [class.selected]="i === selectedFileIndex"
        (click)="selectFile(i)"
      >
        <ng-container *ngIf="renamingIndex === i; else fileNameLabel">
          <input
            [(ngModel)]="files[i].fileName"
            (blur)="finishRename(i)"
            (keydown.enter)="finishRename(i)"
            class="file-name-input"
            autofocus
            (click)="$event.stopPropagation()"
          />
        </ng-container>
        <ng-template #fileNameLabel>
          <span
            class="file-name"
            (dblclick)="startRename(i); $event.stopPropagation()"
            [title]="file.fileName"
          >
            {{ file.fileName }}
          </span>
        </ng-template>
        <button
          class="close-btn"
          (click)="removeFile(i); $event.stopPropagation()"
          [disabled]="files.length <= 1"
          title="Close file"
        >
          &times;
        </button>
      </div>
      <button class="add-btn" (click)="addFile()" title="Add file">+</button>
    </div>
    <div class="editor-container" [style.height.px]="editorHeight">
      <div id="monaco-container"></div>
    </div>

    <div class="resizer"
     (mousedown)="maybeStartResizing($event)"
     (dblclick)="enableResizing()"></div>

    <div class="output-container" [style.height.px]="outputHeight">
      <div class="output-header">Console Output</div>

      <div class="input-container">
        <label>Input:</label>
        <input
          [(ngModel)]="userInput"
          placeholder="Enter input for Console.ReadLine()" />
      </div>

      <pre class="output">{{ output }}</pre>
    </div>
  </div>
</div>
